@media only screen and (max-width: 1400px) {
  nav ul.nav-list li:not(:last-child) {
    margin-right: 49px;
  }
  nav ul.nav-list li span {
    right: -28px;
  }
  section.prestation {
    height: 656px;
  }
  .prestation-box {
    height: 250px;
    width: 316px;
  }
  .prestation-content {
    padding: 25px;
  }
  .right-arrow {
    left: 17px;
  }
}

@media only screen and (max-width: 1200px) {
  .prestation-content {
    font-size: 14px;
  }
  .prestation-content h4 {
    font-size: 20px;
    margin: 0;
  }
  section.prestation {
    height: 625px;
  }
  .prestation-box {
    height: 217px;
    width: 289px;
  }
  header .header-section {
    flex-direction: column;
    justify-content: flex-start;
  }
  header .header-logo-wrapper {
    margin-bottom: 15px;
  }
  ul.header-icon-list li {
    font-size: 14px;
  }
  nav ul.nav-list li:not(:last-child) {
    margin-right: 20px;
  }
  nav ul.nav-list li span {
    right: -12px;
  }
  section.reception {
    height: auto;
  }
  .reception-photo {
    float: none;
  }
  .reception-icons-container {
    justify-content: center;
  }
  div.reception-icons {
    margin: 20px 0px;
  }
  .diagnostic-article {
    height: auto;
    padding: 10px 0px;
  }
  .diagnostic-wrapper {
    padding: 0;
    height: auto;
  }
  .diagnostic-wrapper h2 {
    font-size: 24px;
  }
  footer {
    height: auto;
    text-align: center;
    padding: 10px 0px;
  }
  footer p {
    display: block;
    font-size: 14px;
    line-height: initial;
  }
  footer img {
    float: none;
    top: 0;
  }
}

@media only screen and (max-width: 990px) {
  .prestation-content {
    padding: 10px 5px;
  }
  .prestation-content h4 {
    font-size: 18px;
  }
  .right-arrow {
    display: none;
  }
  .prestation-content p {
    margin: 0px;
    font-size: 14px;
  }
  section.companies {
    text-align: center;
  }
  section.companies .companies-container img {
    width: 100%;
    margin-bottom: 10px;
  }
  section.prestation {
    height: 563px;
  }
  .prestation-box {
    height: 157px;
    width: 205px;
    margin: 0;
  }
  nav {
    display: none;
  }
  header .header-section {
    border: none;
  }
  .carousel-inner-box h1 {
    font-size: 30px;
  }
}
@media only screen and (max-width: 770px) {
  ul.header-icon-list li:not(:last-child) {
    margin-right: 10px;
  }
  div.contact-us {
    margin: 0px auto;
  }
  div.reception-icons {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .prestation-content p {
    display: none;
  }
  .container {
    padding: 0px 40px;
  }
  .infos-logo {
    width: 236px;
  }
  .prestation-box {
    height: 115px;
  }

  ul.header-icon-list li {
    font-size: 9px;
  }
  header .header-logo-wrapper {
    width: 296px;
    height: 44px;
    background-position: center;
    background-size: cover;
  }
  div.contact-us {
    width: 129px;
    height: 31px;
  }
  .carousel-inner-box h1 {
    font-size: 16px;
  }
  .diagnostic-wrapper {
    width: 335px;
  }
  .diagnostic-wrapper img {
    width: 33px;
  }
  .go-up {
    right: 80px;
  }
}
