/*=== Global ===*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.row {
  padding: 0;
}
body {
  overflow-x: hidden;
}

ul {
  list-style-type: none;
  margin: 0;
}
a,
a:hover {
  text-decoration: none;
  color: white;
}
/* Flexbox */
section.header-section,
ul.header-icon-list,
ul.header-icon-list li,
ul.nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
}
/* Position relative  */
nav ul.nav-list li,
section.hero-carousel,
.prestation-content,
section.prestation,
footer img,
.diagnostic-wrapper,
.prestation-box {
  position: relative;
}

/* Background unified style */
header .header-logo-wrapper,
section.reception,
section.prestation,
section.companies,
.diagnostic-article,
.prestation-box,
section.copropriete,
section.contact,
.form .form-left {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* ======== */

/* ==== header ==== */
header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 40;
}

header .header-section {
  justify-content: space-between;
  padding: 22px 0px;
  border-bottom: 2px solid #dedede;
}
header .header-logo-wrapper h1 {
  margin: 0;
}
header .header-logo-wrapper {
  background-image: url('../images/header-logo.png');
  width: 400px;
  height: 60px;
  display: block;
}
/* header section list  */
ul.header-icon-list li,
ul.header-icon-list li a {
  color: #949494;
}

ul.header-icon-list li p {
  margin: 0px;
  font-family: 'Poppins-light', arial;
}
ul.header-icon-list li p:last-child {
  font-family: 'Poppins-bold';
}

ul.header-icon-list li span:first-child {
  margin-right: 10px;
}

ul.header-icon-list li:not(:last-child) {
  margin-right: 70px;
}
/* nav nav-list */
nav {
  padding: 22px 0px 13px 0px;
}

nav ul.nav-list li:not(:last-child) {
  margin-right: 78px;
}
nav ul.nav-list li span {
  height: 2px;
  width: 4px;
  background-color: #9a9a9a;
  position: absolute;
  right: -41px;
  top: 11px;
}
nav ul.nav-list li > a {
  color: #1060ad;
  font-family: 'Poppins-bold', arial;
  font-size: 14.226px;
}
nav ul.nav-list li .nav-list_nested {
  position: absolute;
  top: 40px;
  width: 186px;
  height: 163px;
  text-indent: 26px;
  z-index: 10;
}
nav ul.nav-list li .nav-list_nested li {
  height: 53px;
  width: 100%;
  margin-bottom: 2px;
  background-color: #ffffff;
  display: none;
}
nav ul.nav-list li:hover .nav-list_nested li {
  display: block;
}
nav ul.nav-list li .nav-list_nested a {
  color: #60bb48;
  line-height: 53px;
  display: block;
  width: 100%;
  transition: all 0.3s linear;
}
nav ul.nav-list li .nav-list_nested a:hover {
  background-color: #60bb48;
  color: white;
}
/* ===== */
/* === Section hero-carousel === */
section.hero-carousel:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #030c19;
  opacity: 0.5;
}
section.hero-carousel .carousel-control-prev-icon {
  background-color: transparent;
}
span.prev-icon {
  margin-right: 70px;
}
span.next-icon {
  margin-left: 70px;
}
.carousel-inner-box {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
  font-family: 'Playfair-Display-bold';
  z-index: 20;
}
.carousel-inner-box p {
  margin: 0;
  font-size: 44px;
}

.points,
.infos-first-list span {
  display: inline-block;
  height: 5px;
  width: 5px;
  background-color: #fff;
  border-radius: 50%;
  vertical-align: middle;
}

.points:nth-child(1) {
  margin-right: 23px;
}
.points:nth-child(3) {
  margin-left: 23px;
}
div.contact-us {
  font-family: 'Poppins-regular';
  margin: 44px auto;
  border: 2px solid #b2b6bd;
  width: 230px;
  height: 51px;
}

div.contact-us button {
  width: 100%;
  height: 100%;
  transition: all 0.3s linear;
  border: none;
  background-color: #1060ad;
  color: #fff;
  outline: none;
  font-size: 14.304px;
}
div.contact-us button:hover {
  transform: translate(3px, -4px);
}
.carousel-inner-box h2 {
  font-size: 40px;
}

/* ==== Section reception ==== */
section.reception {
  background-image: url('../images/reception.png');
  height: 820px;
  font-family: 'Myriad-Pro-light';
  color: rgba(0, 0, 0, 0.902);
}
section.reception p {
  font-weight: bold;
}
section.reception h2 {
  padding: 54px 0px 18px;
}
section.reception p:not(:last-child) {
  margin-bottom: 40px;
}

.reception-circle {
  margin: 0px auto 32px;
  display: block;
}
.reception-photo {
  border: 4px solid #fff;
  float: right;
}
.reception-photo img {
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
}
.reception-photo img:hover {
  transform: translate(7px, -12px);
}
.left-content,
.right-img {
  padding: 0;
}
div.reception-icons {
  height: 181px;
  width: 286px;
  background-color: white;
  font-family: 'Noto-Sans', arial;
  text-align: center;
  padding: auto;
  cursor: pointer;
  padding: 19px;
  transition: all 0.3s linear;
  margin-top: 70px;
}
div.reception-icons svg {
  margin-bottom: 10px;
}

div.reception-icons:hover {
  background-color: #60bb48;
  transform: scale(1.1);
  color: white;
  z-index: 10;
}

div.reception-icons:hover .second-reception-icon {
  display: block;
  margin: 0 auto 10px;
}
.second-reception-icon {
  display: none;
}
div.reception-icons:hover .first-reception-icon {
  display: none;
}
div.reception-icons:hover svg path {
  fill: #fff;
}

div.reception-icons .phone-number {
  font-size: 24px;
}
div.reception-icons .phone-number a {
  color: black;
}
div.reception-icons:hover .phone-number a {
  color: white;
}
div.reception-icons h3,
div.reception-icons p {
  font-size: 18px;
  margin: 0;
}

div.reception-icons:not(:last-child) {
  border-right: 1px solid #b8ccde;
}
/* === Section prestation === */
section.prestation {
  background-image: url('../images/prestation.png');
  height: 710px;
  text-align: center;
  color: white;
  font-family: 'Myriad-Pro-light';
  padding: 60px 0px 44px;
}
section.prestation h2 {
  margin-bottom: 47px;
}
section.prestation .prestation-circle {
  margin-bottom: 50px;
}
section.prestation .carousel-most-inner-container {
  display: flex;
  justify-content: space-between;
}

.prestation-box {
  border: 2px solid #fff;
  height: 302px;
  width: 372px;
  margin-bottom: 20px;
}
.prestation-box:first-child {
  background-image: url('../images/pic2.png');
}
.prestation-box:nth-child(2) {
  background-image: url('../images/pic3.png');
}
.prestation-box:last-child {
  background-image: url('../images/pic2.png');
}

.prestation-content {
  background-color: white;
  width: 100%;
  height: 100%;
  text-align: left;
  padding: 52px;
  transform: translate(-101%, 100%);
  transition: all 0.5s linear;
  position: relative;
  opacity: 0;
}

.prestation-box:hover .prestation-content {
  opacity: 1;
  transform: translate(0%, 0%);
}
.prestation-content h4 {
  color: #7cc56a;
  font-size: 24px;
  margin-bottom: 10px;
}
.prestation-content p {
  color: black;
  font-weight: bold;
  margin-top: 15px;
}
.right-arrow {
  position: absolute;
  height: 40px;
  width: 40px;
  display: inline-block;
  background-color: #60bb48;
  border-radius: 50%;
  line-height: 37px;
  text-align: center;
  border: 2px solid #fff;
  bottom: -19px;
  left: 44px;
}
.prestation-box img {
  transition: all 0.6s linear;
}

/* === Section companies ===*/
section.companies {
  background-image: url('../images/prestation-footer.png');
  text-align: center;
  text-align: left;
  padding: 38px 0px 54px;
}
.circle-companies {
  margin: 9px 0px 30px;
}
/* === Diagnostic article === */
.diagnostic-article {
  background-image: url('../images/diagnostic-bg.png');
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.diagnostic-wrapper {
  background-image: url('../images/foggy-bg.png');
  max-width: 1400px;
  height: 400px;
  text-align: center;
  color: #ffffff;
  padding: 20px 0px;
}
.diagnostic-wrapper .diagnostic-border {
  position: absolute;
}

.diagnostic-wrapper .diagnostic-border:nth-child(4) {
  left: 0px;
  top: 0px;
}
.diagnostic-wrapper .diagnostic-border:last-child {
  right: 0;
  bottom: 0;
}
.diagnostic-wrapper p {
  text-align: left;
}
.diagnostic-circle {
  margin: 17px 0px 22px;
}
/* === Section infos ===*/
section.infos {
  background-image: url('../images/infos.png');
  color: white;
  font-family: 'Myriad Pro';
  padding: 38px 0px;
}
.infos .info-circle {
  margin: 20px 0px;
}
.infos-first-list span {
  background-color: #55799b;
  margin-right: 20px;
}
.infos-first-list li {
  margin-bottom: 10px;
}
.infos-second-list li {
  border-bottom: 1px solid #37628a;
  padding: 14px 0px;
}
.infos-second-list img {
  margin-right: 10px;
}
/* === Footer ===*/
footer {
  background-color: #013464;
  color: #8e9bad;
}
footer a {
  color: #8e9bad;
}
footer p {
  margin: 0;
  display: inline-block;
  line-height: 84px;
}

footer img {
  top: 31px;
  float: right;
}
/* Go up button */
.go-up {
  position: fixed;
  bottom: 35px;
  right: 20px;
  background-color: #60bb48;
  height: 60px;
  width: 60px;
  border: none;
  border-radius: 10px;
  animation: go-up 0.8s linear 0.3s infinite alternate;
  display: none;
  z-index: 50;
}
.go-up img {
  transform: rotate(90deg);
  width: 19px;
}
@keyframes go-up {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* ============ copropriete page============== */
/*=== Section copropriete === */
section.copropriete {
  background-image: url('../images/copropriete.png');
  height: 225px;
}
/* === Section location === */
section.location {
  padding: 50px 0px 90px;
}
.location-box {
  border: 4px solid #c2d8e9;
}
.location-box .building-image {
  width: 100%;
  transition: all 0.3s linear;
}
.location-box:hover .building-image,
.location-box:hover .location-content {
  transform: translate(11px, -12px);
}
.location .building-content {
  position: relative;
  top: 35px;
}
.circle-titre {
  margin: 20px auto;
  display: block;
}
.location-content {
  padding: 40px 20px;
  height: 100%;
  background-color: #f5f8f9;
  font-weight: 500;
  transition: all 0.3s linear;
}

.location-content > img:nth-child(2),
.location-content > img:nth-child(5) {
  display: none;
}
.location-content:hover > img:nth-child(1),
.location-content:hover > img:nth-child(4) {
  display: none;
}
.location-content:hover > img:nth-child(2),
.location-content:hover > img:nth-child(5) {
  display: block;
}

.location-content:hover {
  background-color: #60bb48;
  color: white;
}
.location-content .right-arrow {
  line-height: 30px;
}
.location-gallery .row {
  justify-content: space-between;
  margin-top: 60px;
}
.location-gallery .location-box {
  padding: 0;
}
/* ============ contact page ============== */
section.contact {
  background-image: url('../images/contact-bg.png');
  height: 225px;
}
section.form {
  padding: 55px 0px 70px;
}
.form .form-left {
  background-image: url('../images/form-infos.png');
  height: 550px;
  font-size: 20px;
  padding: 74px 64px;
  color: white;
}
.form .form-left h2 {
  margin-bottom: 15px;
}
.form .form-left svg {
  height: 42px;
  width: 42px;
  margin-right: 20px;
}
.form .form-left div {
  padding: 32px 0px;
  display: flex;
  align-items: center;
}
.form .form-left div:not(:last-child) {
  border-bottom: 1px solid #9694a1;
}
.form .form-left div p {
  margin: 0;
}
.form-right textarea {
  width: 100%;
  display: block;
  height: 300px;
  resize: none;
}
.personal-infos input {
  width: 49%;
}
.form-right textarea,
.personal-infos input {
  background-color: #f5f8f9;
  border: none;
  padding: 19px;
  margin-bottom: 10px;
}
.form-right textarea:focus,
.personal-infos input:focus {
  border: 1px solid #2a77b9;
}
.form-right .button {
  display: inline-block;
  border-left: 2px solid #c2d8e9;
  border-bottom: 2px solid #c2d8e9;
}
.form-right button {
  width: 200px;
  height: 44px;
  background-color: #00478f;
  color: white;
  transform: translate(2px, -3px);
  border: none;
}
.form-right ::placeholder {
  font-weight: 600;
  color: black;
  opacity: 1;
}
.form-right :-ms-input-placeholder {
  font-weight: 600;
  color: black;
  opacity: 1;
}
.form-message {
  font-weight: 500;
}

.personal-infos input:first-child {
  margin-right: 10px;
}
/* map */
#map {
  height: 360px;
  width: 100%;
}
.warning-msg {
  background-color: #6b000aab;
  padding: 10px;
  color: white;
  font-weight: bold;
  display: none;
}
/* === Detail page === */

.detail-img {
  width: 488px;
  height: 259px;
  border: 2px solid white;
}
.come-back {
  padding: 10px;
  background-color: #8cbf98b8;
  border: none;
  font-weight: 500;
  border-radius: 10px;
}
.detail-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  background-color: #c2d8e9;
  margin-top: 20px;
  padding: 20px 0px;
  box-shadow: 5px 5px 5px -5px #333, 5px 5px 5px -5px #333;
}
/* === Overriding bootstrap style ===*/
.carousel-indicators li {
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

.carousel {
  position: static;
}
.carousel-indicators {
  bottom: 80px;
}
.carousel-control-next {
  right: -40px;
}
.carousel-control-prev {
  left: -40px;
}
@media (min-width: 1400px) {
  .container {
    max-width: 1340px;
  }
}
