/* Global*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
  margin: 0;
}

/* Flexbox */
section.header-section,
ul.header-icon-list,
ul.header-icon-list li,
ul.nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
}
/* ==== header ==== */
header .header-section {
  justify-content: space-between;
  padding: 22px 0px;
  border-bottom: 2px solid #dedede;
}
header .header-logo-wrapper {
  background-image: url('./images/header-logo.png');
  width: 400px;
  height: 60px;
  background-size: cover;
  background-position: center;
}
/* header section list  */
ul.header-icon-list li {
  color: #949494;
  font-family: roman, arial;
}
ul.header-icon-list li p {
  margin: 0px;
}
ul.header-icon-list li span:first-child {
  margin-right: 10px;
}

ul.header-icon-list li:not(:last-child) {
  margin-right: 70px;
}
/* nav nav-list */
nav {
  padding: 22px 0px 13px 0px;
  color: #1060ad;
}
nav ul.nav-list li:not(:last-child) {
  margin-right: 60px;
}
/* ===== */
/* Overriding bootstrap container padding */
@media (min-width: 1400px) {
  .container {
    max-width: 1280px;
  }
}
